.footer {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding: 0 120px;
    background-color: rgba(245, 251, 252, 1);
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
    width: 80%;
}

.footer-info {
    max-width: 200px;
}

.footer-logo {
    width: 36px;
    margin-bottom: 10px;

}

.footer-description {
    font-size: 15px;
    color: #4a4a4a;
}


.footer-link {
    color: #4a4a4a;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: rgba(53, 184, 190, 1);
}

.footer-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #e0e0e0;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-bottom-link {
    color: rgba(53, 184, 190, 1);
    text-decoration: none;
}

.footer-bottom-link:hover {
    text-decoration: underline;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}