.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    background-color: var(--main-footer-background-color);
    margin: 0;
}

.loginBox {
    background-color: var(--global-background-color);
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 500px;
}

.loginBox h2 {
    color: #3ba4a4;
    margin-bottom: 20px;
}

.formGroup {
    margin-bottom: 15px;
    text-align: left;
}

.formGroup label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    font-size: 20px;
}

.formGroup input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--loginform-input-outlone-color);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--loginform-input-background-color);
    color: var(--card-input-background-color);
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.submitButton {
    background-color: #3ba4a4;
    color: var(--button-font-color);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 240px;
}

.submitButton:hover {
    background-color: #359090;
}

.cancelButton {
    background-color: var(--login-cancel-button-backgroud-color);
    color: #333;
    border: 1px solid var(--login-cancel-button-outline-color);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 240px;
}

.cancelButton:hover {
    background-color: #f0f0f0;
}

.message {
    color: #359090;
}