.Card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    max-width: 450px;
    margin-bottom: 20px;
    background-color: white;
    width: 580px;
    height: 200px;
}


.description-price-input {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: Inter;

}

.description-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-image {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 15px;
}



.CardInput {
    background-color: white;
    color: black;
    font-size: 15px;
    width: 60px;
    height: 42px;
    border-radius: 6px;
    outline: none;
    box-shadow: none;
    border: 1px solid #918f8f;
    margin-right: 3%;
    text-align: center;
}

.CardInput:focus {
    outline: none;
    box-shadow: none;
    border-color: rgba(53, 184, 190, 1);
}

.CardInputLine {
    display: flex;
}