.headerContainer {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
}

.headerLogo {
    display: flex;
    align-items: center;
}

.headerLogoImg {
    height: 40px;
}

.headerNav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.headerNavLink {
    color: #2c2c2c;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.headerNavLinkHome {
    color: rgba(53, 184, 190, 1);
}

.headerNavLinkHome:hover {
    color: black;
}

.headerNavLink:hover {
    color: rgba(53, 184, 190, 1);
}

.headerCart {
    display: flex;
    align-items: center;
}

.headerCartIcon {
    display: flex;
    align-items: center;
}

.headerCartImg {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    padding: 10px;
}