.headerContainer {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
    background-color: var(--header-background-color);
}

.headerLogo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.headerLogo:hover {
    transform: scale(1.05);
}

.headerLogoImg {
    height: 40px;
}

.headerNav {
    display: flex;
    gap: 20px;
    margin-left: auto;
}

.headerNavLink {
    color: var(--header-font-color);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

.headerNavLinkHome {
    color: rgba(53, 184, 190, 1);
}

.headerNavLinkHome:hover {
    transform: scale(1.05);
    color: rgba(53, 184, 190, 1);
}

.headerNavLink:hover {
    color: rgba(53, 184, 190, 1);
}

.headerCart {
    display: flex;
    align-items: center;
}

.headerCart:hover {
    transform: scale(1.05);
}

.headerCartIcon {
    display: flex;
    align-items: center;
}

.headerCartImg {
    height: 40px;
    width: 40px;
    border-radius: 8px;
    padding: 10px;
}

.themeSwitcher {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.themeSwitcher:hover {
    background-color: var(--text-color);
}

.themeIcon {
    width: 20px;
    height: 20px;
}

.activeLink {
    text-decoration: underline;
}