.customButton {
    background-color: rgba(53, 184, 190, 1);
    color: white;
    border-radius: 12px;
    padding: 15px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 16px 40px;
    border-width: 1px;
    border-color: rgba(97, 114, 131, 0.2);
}

.customButton:hover {
    background-color: rgba(45, 150, 155, 1);
}

.customButton:active {
    background-color: rgba(45, 150, 155, 1);
}

.customButton:focus {
    outline: none;
}

.customButton.active-button {
    background-color: rgba(53, 184, 190, 1);
    border: none;
    color: white
}